/* /////////////////// */

.imageContainer {
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.imageContainer:hover {
    opacity: 0.6;
    animation: fade 0.2s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

.sectionTitle {
    margin-bottom: 0px;
    text-align: left;
    width: 50%;
    float: left;
    position: relative;
    top: 0px;
    color: #f5b568;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 35px;
}

.projectsSection {
    position: relative;
    top: 800px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.projectContainer {
    top: 100px;
    position: relative;
    margin: 0px 0 200px 0;
    left: 0;
    width: 100%;
    list-style: none;
}

.projectContainerExtended {
    top: 100px;
    position: relative;
    margin: 0px 0 200px 0;
    left: 0;
    width: 100%;
    list-style: none;
}

.detailsContainer {
    position: absolute;
    width: 570px;
    height: 220px;
    background-color: #222222;
    z-index: 10;
    top: 500px;
}

.projectTitle {
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    color: #f5b568;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 60px;
    z-index: 3;
    width: fit-content;
}

.projectTitleExtended {
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    color: #f5b568;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 60px;
    z-index: 3;
    width: fit-content;
}

.projectDescription {
    width: 500px;
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    color: #f5b568;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 18px;
    z-index: 3;
    line-height: 24px;
}

.projectDescriptionExtended {
    width: 500px;
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    color: #f5b568;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 18px;
    z-index: 3;
    line-height: 24px;
}
.projectImage1 {
    width: 60%;
    height: auto;
    position: relative;
    left: 0;
    top: 40px;
}

.projectImage1Extended {
    width: 49%;
    height: auto;
    position: relative;
    left: 0;
    top: 30px;
    animation: moveImage 0.6s ease-in-out;
}

@keyframes moveImage {
    0% {
        top: 0px;
    }
    100% {
        top: 240px
    }
}

.projectImage2 {
    width: 45%;
    float: right;
    height: auto;
    right: 0px;
    position: absolute;
    z-index: 1;
    border: solid 10px #222222;
}

.projectImage2Extended {
    width: 49%;
    float: right;
    height: auto;
    position: relative;
    right: 0;
    top: 30px;
    z-index: 1;
    /* border: solid 10px #222222; */
}

.projectImage3 {
    width: 49%;
    height: auto;
    position: relative;
    top: 50px;
    right: 0;
    z-index: 1;
}

.projectImage4 {
    width: 49%;
    height: auto;
    position: relative;
    float: right;
    left: 0;
    top: 50px;
    z-index: 1;
}

.linkButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: relative;
    float: right;
    left: 10px;
    z-index: 2;
}

.linkIcon {
    width: 30px;
}