.projects-container {
    width: 80vw;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 80px;
    ;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.projects-title {
    font-size: 14px;
    margin-bottom: -10px;
}

.projects-image1 {
    width: 100%;
    height: 50.4vw;
    margin-bottom: 60px;
    overflow: hidden;
}

.projects-image1 img {
    transition: 3s;
}

.projects-image1 img:hover {
    transform: scale(1.01);
}

.projects-extra-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
}

.projects-image2 {
    width: calc( 50% - 20px);
    height: calc( 0.63 * (40vw - 20px));
    margin-bottom: 150px;
    z-index: 1;
    overflow: hidden;
}

.projects-image2 img {
    transition: 3s;
}

.projects-image2 img:hover {
    transform: scale(1.01);
}

.projects-paragraph {
    width: calc( 50% - 20px);
    font-size: 14px;
    margin-bottom: 10px;
}

.projects-link {
    text-decoration: underline;
    color: #4675ff;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {
    .projects-container {
        width: 80vw;
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        font-family: azo-sans-web, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
    }
    .projects-title {
        margin-top: 80px;
        font-size: 14px;
        margin-bottom: -10px;
    }
    .projects-image1 {
        width: 100%;
        margin-bottom: 20px;
    }
    .projects-extra-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
    }
    .projects-image2 {
        width: 100%;
        height: 50.4vw;
        margin-bottom: 20px;
        transition: 0.3s;
        z-index: 1;
    }
    .projects-paragraph {
        width: 100%;
        font-size: 14px;
        margin-bottom: 10px;
    }
}