/* /////////////////// */

.sectionTitle {
    margin-bottom: 200px;
    text-align: left;
    width: 50%;
    height: 400px;
    float: left;
    position: relative;
    top: 0px;
    color: #f5b568;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 35px;
}

.projectsSection {
    position: absolute;
    top: 2350px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.projectContainer {
    position: relative;
    margin: 100px 0 200px 0;
    left: 0;
    width: 100%;
    height: 700px;
    list-style: none;
}

.projectContainerExtended {
    position: relative;
    margin: 100px 0 200px 0;
    left: 0;
    width: 100%;
    height: 1280px;
    list-style: none;
}

.detailsContainer {
    position: absolute;
    width: 570px;
    height: 220px;
    background-color: #222222;
    z-index: 10;
    top: 500px;
}

.projectTitle {
    text-align: left;
    position: absolute;
    top: 480px;
    left: 0px;
    color: #f5b568;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 60px;
    z-index: 3;
    line-height: 85px;
    width: fit-content;
    animation-duration: 0.6s;
    animation-name: moveTitleBack;
}

.projectTitleExtended {
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #efbb6f;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 60px;
    z-index: 3;
    line-height: 85px;
    width: fit-content;
    animation-duration: 0.6s;
    animation-name: moveTitle;
}

@keyframes moveTitle {
    0% {
        top: 480px;
    }
    100% {
        top: 0px
    }
}

@keyframes moveTitleBack {
    0% {
        top: 0px
    }
    100% {
        top: 480px;
    }
}

.projectDescription {
    width: 500px;
    text-align: left;
    position: absolute;
    top: 580px;
    left: 0px;
    color: #f5b568;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 18px;
    z-index: 3;
    line-height: 24px;
    animation-duration: 0.6s;
    animation-name: moveDescriptionBack;
}

.projectDescriptionExtended {
    width: 500px;
    text-align: left;
    position: absolute;
    top: 100px;
    left: 0px;
    color: #f5b568;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 18px;
    z-index: 3;
    line-height: 24px;
    animation-duration: 0.6s;
    animation-name: moveDescription;
}

@keyframes moveDescription {
    0% {
        top: 580px;
    }
    100% {
        top: 100px
    }
}

@keyframes moveDescriptionBack {
    0% {
        top: 100px;
    }
    100% {
        top: 580px
    }
}

.projectImage1 {
    width: auto;
    height: 420px;
    position: absolute;
    left: 0;
    top: 0;
}

.projectImage1Extended {
    width: auto;
    height: 420px;
    position: absolute;
    left: 0;
    top: 240px;
    animation: moveImage 0.6s ease-in-out;
}

@keyframes moveImage {
    0% {
        top: 0px;
    }
    100% {
        top: 240px
    }
}

.projectImage2 {
    width: auto;
    height: 350px;
    position: absolute;
    right: 0;
    top: 350px;
    z-index: 1;
    border: solid 10px #222222;
}

.projectImage2Extended {
    width: auto;
    height: 280px;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 1;
    border: solid 10px #222222;
}

.projectImage3 {
    width: auto;
    height: 300px;
    position: absolute;
    right: 0;
    top: 580px;
    z-index: 1;
    border: solid 10px #222222;
}

.projectImage4 {
    width: auto;
    height: 380px;
    position: absolute;
    left: 0;
    top: 850px;
    z-index: 1;
    border: solid 10px #222222;
}

.imageContainer {
    width: 100%;
    height: 100%;
}

.imageContainerExtended {
    width: 100%;
    height: 100%;
}

.linkButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 50px;
    height: 50px;
    position: relative;
    float: right;
    top: -84px;
    left: 50px;
    z-index: 2;
}

.linkIcon {
    width: 30px;
}