/* /////////////////// */

.projectsSection {
    position: absolute;
    top: 7100px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.projectsSectionExtended {
    position: absolute;
    top: 9900px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.sectionTitle {
    margin-bottom: 200px;
    text-align: left;
    width: 50%;
    height: 400px;
    float: left;
    position: relative;
    top: 0px;
    color: #f5b568;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 35px;
}

.detailSection {
    position: absolute;
    top: 150px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.detailDiv {
    position: relative;
    top: 0px;
    width: 100%
}

.detailQuestion {
    margin-bottom: 30px;
    text-align: left;
    width: 50%;
    left: 50%;
    float: left;
    position: relative;
    top: 0px;
    color: #f5b568;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 28px;
}

.detailAnswer {
    margin-bottom: 80px;
    text-align: left;
    width: 25%;
    left: 25%;
    float: left;
    position: relative;
    top: 40px;
    color: #f5b568;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.profilePic {
    position: absolute;
    width: 40%;
    left: 40px;
    top: 150px;
}